<!-- whenever you create a form that alters data server-side, use method="post" -->
<form action="{% url 'polls:vote' question.id %}" method = "post">
    <!-- CSRF (Cross-Site Request Forgeries): all POST forms that are targeted at internal URLS should use this token -->
    {% csrf_token %}
    <fieldset>
        <!-- legend tag groups related elements in  a form -->
        <legend><h1>{{ question.question_text }}</h1></legend>
        {% if error_message %}
            <p><strong>{{ error_message }}</strong></p>
        {% endif %}
        {% for choice in question.choice_set.all %}
            <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
            <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
        {% endfor %}
    </fieldset>
    <input type="submit" value="Vote">
</form>